body
{
    background: #d6a2d4;
}
h1{
    font-family: cursive;
    font-style: italic;
    font-weight: bold;
}

h4
{
    color:rgb(72, 163, 133);
}

#camera
{
    width: 500px;
    height: 400px;
    border:1px solid rgb(99, 109, 230);
    border-width:10px;
}

img
{
    width: 37%;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 6px 8px 0 rgba(73, 4, 4, 0.2);
}

.column
{
    display: inline;
    padding: 10px;
}
img:hover{
    border-radius: 140px;
}
.copy_right_footer {
    position: fixed;
    color: #1d6cb1;
    bottom: 0;
    width: 100%;
    background-color: #e09090;
    line-height: 3;
    text-align: center;
 }
